/* styles.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-size: 24px;
}

.container {
    margin: auto;
    background-color: white;
    padding: 20px;
    margin: 0;
}

.logo-container {
    text-align: center;
    margin-bottom: 75px;
}

.logo {
    max-width: 128px;
    height: auto;
}

h1 {
    margin-top: 10px;
    color: #333;
    font-size: 56px;
}

.content {
    line-height: 1.6;
    margin-bottom: 30px;
}

.clients {
    text-align: left;
    margin-bottom: 30px;
    color: yellowgreen;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.client-logo {
    max-height: 100px;
    width: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    padding-top: 20px;
    border-top: 3px solid yellowgreen;
    font-size: 0.9em;
}

.contact, .address {
    line-height: 1.4;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}