/* styles.css */
body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    font-size: 24px;    
}

.container {
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    max-width: 1024px ;
}

.logo-container {
    text-align: center;
    margin-bottom: 75px;    
}

.logo {
    max-width: 128px;
    height: auto;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 56px;
    color: #550000ff;
}

h2 {
    text-align: left;
    margin-top: 10px;
    font-size: 40px;
    color: #550000ff;
}

p {
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
}


.content {
    line-height: 1.6;
    margin-bottom: 50px;
}

/* .clients {
    text-align: left;
    margin-bottom: 30px;
    color: #550000ff;
} */

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.client-logo {
    max-height: 128px;
    width: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    padding-top: 20px;
    border-top: 3px solid #d7e3f4ff;
    font-size: 0.9em;
}

.contact, .address {
    line-height: 1.4;
}

a {
    color: #550000ff;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

